.member {
  background-color: rgb(104, 104, 104);
  color: rgb(15, 15, 15);
  padding: 0.2rem;
  border-radius: 4px;
}

.reserve-btn {
  font-size: 1.25rem;
  padding: 0.3rem;
  border-color: rgb(104, 104, 104);
  border-radius: 4px;
  cursor: pointer;
}
