.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 5%;
  background-color: #fff;
  border: 1px solid #e8e8e8;
}

.head {
  display: flex;
  align-items: center;
  gap: 3px;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  list-style: none;
}
